body{
    margin: 0;
    padding: 0;
    line-height: 0.5px;
    background: -webkit-linear-gradient(left, transparent 20%,rgb(204, 62, 62) 50%,transparent 100%);
}
.calci{
    text-align: center;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
    transition: 25px;
    background-color: grey;
    background:url('./couple.jpg') no-repeat ;

    

}
#display{
    border: none;
    background-color:white ;
    border-radius: 70px;
    width: 245px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    height: 60px;
    margin: auto;
    border: 2px-solid white;
    color: black;
}
.btndesign{
   width: 55px;
   height: 55px;
background-color: white;
   border: none;
   font-family: sans-serif;
   font-size: 20px; 
   font-weight: 300; 
   border-radius: 30px;
   margin: 1.5px;
}
.operatordesign{
    width: 55px;
    height: 55px;
    background-color: white;
    border: none;
    font-family: sans-serif;
    font-size: 20px; 
    font-weight: 300; 
    border-radius: 30px;
    margin: 1.5px;
    transition: 25px;
    cursor:pointer;
    background-color: yellow;
 }
 .operatordesign:hover{
    background: #00d9ff;
 }
 #zero{
    width: 116px;
    height: 55px;
    background-color: white;
    border: none;
    font-family: sans-serif;
    font-size: 20px; 
    font-weight: 300; 
    border-radius: 30px;
    margin: 1.5px;
    
 }
 span{
     color: white;
     text-transform: uppercase;
     font-family: sans-serif;
     text-decoration: underline;
     font-size: large;
     top: 50%;

 }


